name: Multi Env Deploy
on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Dev
        if: github.ref == 'refs/heads/dev'
        run: echo "Deploying to DEV Server"

      - name: Deploy to Prod
        if: github.ref == 'refs/heads/main'
        run: echo "Deploying to PROD Server"
